<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
<<<<<<< HEAD
=======
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
>>>>>>> d322bda64ec39cee8cbe3c2b87e1e4b4ae85a83a
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
